<div class="ui card lista-seguros main-form">
  <div class="content">
    <div class="header">Insurances</div>
  </div>
  <div class="content">
    <ng-container *ngIf="insurances$ | async as insurances; else loading">
      <ng-container *ngIf="insurances.length > 0; else noInsurance">
        <div *ngFor="let insurance of insurances" class="claim-row">
          <div>
            <strong>Brand and model: </strong>{{ insurance.carBrand.name }} - {{ insurance.carModel }}
          </div>
          <div>
            <strong>Car plate: </strong>{{insurance.carPlate}}
          </div>
          <div class="border-bottom mb-5">
            <strong>Proprietário: </strong>{{ insurance.carOwnerName }}
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<!--Ng templates-->
<ng-template #loading>
  Loading insurances...
</ng-template>
<ng-template #noInsurance>
  There's no registered insurances
</ng-template>
